@import "@material/theme/functions";
@import "@material/density/variables";

$mdc-data-table-fill-color: surface !default;
$mdc-data-table-header-row-fill-color: inherit !default;
$mdc-data-table-row-fill-color: inherit !default;
$mdc-data-table-selected-row-fill-color: rgba(mdc-theme-prop-value(primary), .04) !default;

$mdc-data-table-checked-icon-color: primary !default;
$mdc-data-table-divider-color: rgba(mdc-theme-prop-value(on-surface), .12) !default;
$mdc-data-table-divider-size: 1px !default;
$mdc-data-table-row-hover-fill-color: rgba(mdc-theme-prop-value(on-surface), .04) !default;
$mdc-data-table-checkbox-touch-dimension: 48px !default;

$mdc-data-table-header-row-text-color: rgba(mdc-theme-prop-value(on-surface), .87) !default;
$mdc-data-table-row-text-color: rgba(mdc-theme-prop-value(on-surface), .87) !default;

$mdc-data-table-shape-radius: $mdc-theme-shape-radius !default;
$mdc-data-table-stroke-size: 1px !default;
$mdc-data-table-stroke-color: rgba(mdc-theme-prop-value(on-surface), .12) !default;

$mdc-data-table-cell-height: 52px !default;
$mdc-data-table-header-cell-height: mdc-data-table-get-header-cell-height($mdc-data-table-cell-height) !default;
$mdc-data-table-cell-leading-padding: 16px !default;
$mdc-data-table-cell-trailing-padding: 16px !default;

$mdc-data-table-minimum-cell-height: 36px !default;
$mdc-data-table-maximum-cell-height: $mdc-data-table-cell-height !default;
$mdc-data-table-default-density-scale: $mdc-density-default-scale !default;
$mdc-data-table-density-config: (
  height: (
    maximum: $mdc-data-table-cell-height,
    default: $mdc-data-table-cell-height,
    minimum: $mdc-data-table-minimum-cell-height,
  )
);

@function mdc-data-table-get-header-cell-height($height) {
  @return $height + 4px;
}


@import "@material/data-table/variables";